*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
html
{
    scroll-behavior: smooth;

}
.banner {
   background-image:linear-gradient(rgba(0,0,0,.5),#009688),url('bgimg.jpg');
    background-size: cover;
    background-position: center;
   width: 100%;
    height: 100%;
}
.logo{
    width: 100px;
    position: absolute;
    top: 5%;
    left: 9%;
    border-radius: 50px;
    
}
.banner-text{
    text-align: center;
    color:white;
    padding-top: 230px;

}      
.banner-text h1{

    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{

    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: 2.5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span
{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:white;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: black;
    font-weight: bold;
}
#navigation{
    width: 200px;
    height: 100vh;
    position: fixed;
    right:-200px;
    top: 0;
    background-color:#009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}
#menubtn img{
    width: 30px;
    margin: 15px;
    
}
#menu{
    width: 30px;
    margin: 15px;
}

@media screen and(max-width: 800px) {
    .banner-text h1{

        font-size: 1px;
        
    }
    .banner-btn a{
        display: block;
        margin: 2px auto;
    }
}


/* features*/


#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
    
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px ;
}
.title-text h1{
    font-size: 50px;
    font-weight: bold;
}


.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
    
    
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    font-weight: bold;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon .fa
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.features-text p{
    padding: 0 20px;
    font-weight: bold;
    text-align: initial;
}
@media screen and (max-width:800px) {
    

.title-text h1{
    font-size: 35px;
    
}
.features{
    flex-basis: 100%;
}
.features-img{
    flex-basis: 100%;
    
}
.features-img img{
    width: 100%;
    
}

.features-text p{
   text-align: justify;
}
}

/* features*/
#services{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 10px;
    height: 60vh;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;

}
.single-service:hover .overlay{
    opacity: 1;

}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 20%;
    transform: translateX(-15%);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;

}
.service-desc p{
    font-weight: bold;
    font-size: 14px;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
@media screen and (max-width:770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc
    {
        bottom: 25% !important;
    }
}

/* booking form css*/
#booking{
    margin-top: 5%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; 
      
   }
.h2{
    flex-basis: 100%;
    
    margin-left: 10%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 2%;
}

.book-box{
    
    background-color: #009688;
    width: 35%;
    padding: 12px 20px;
    margin-left: 10%;
    display: inline-block;
    border: 2px solid #a49c9c;
    box-sizing: border-box;
    border-radius: 5%;
    
    
}
.input-feild{
    background-color:rgb(235, 175, 54);
    margin: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow:hidden;
}
input{
    width: 70%;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-feild lavel{
    margin-left: 15px;
    color: black;
}
.btn-otp{
    margin-left: 20%;


    
}
.btn-otp button{
    
    background: #066057;
    color:black;
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    outline: 0;
   
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    margin-left: 10%;
    align-items: right;
    width: 100%;
    border-radius: 10px;
    height: 50%;
    
    
}
.form-image {
    height: 83%;
    width: 40%; 
    margin-left: 30px; 
    border-radius: 5%;
}
@media screen and (max-width:770px){
    .book-box{
    
        background-color: #009688;
        width: 100%;
        padding: 12px 20px;
        margin-left: 10%;
        margin-right: 10%;
        display: inline-block;
        border: 2px solid #a49c9c;
        box-sizing: border-box;
        border-radius: 5%;
        
        
    }
    .form-image {
        margin-top: 10%;
        height: 30%;
        width: 100%; 
        margin-left: 10%; 
        margin-right: 10%;
        border-radius: 5%;
    }

}

/* booking form css*/

/*feed back code*/
.title-text1{
    text-align: center;
    padding-bottom: 70px;
    
}

.title-text1 p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text1 p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px ;
}
.title-text1 h1{
    font-size: 50px;
    font-weight: bold;
}
#feedback{
    width: 100%;
    padding: 70px 0;
}
.feedback-row
{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.feedback-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px 3px #646c74;
    cursor: pointer;
    transition: transform 0.5s;
}
.feedback-col p{
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin: 20px;
    border-radius: 4px;
}
.feedback-col:hover{
    transform: translateY(-30px);

}
@media screen and (max-width:800px){
    .feedback-col{
        flex-basis: 100%;
    }
}
/*feed back code*/
/*code for contact footer*/
#footer{
    padding: 50px 0 20px;
    background: #efefef;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right
{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer-right
{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p
{
    line-height: 35px;
}
.footer-left .fas, .footer-right .fas{
font-size: 20px;
color: #009688;
margin: 15px;
}
.social-media
{
    text-align: center;
}
.social-media .fab
{
   border: 2px solid #009688;
    height: 45px;
   width: 45px;
   font-size: 40px;
   line-height: 45px;
   color: #009688;
   margin: 10px;
   cursor: pointer;
   transition: 0.8s;
}
.social-media .fab:hover
{
    background-color: #009688;
    color: white;
    transform: translateY(-15px);
}
.social-media p
{
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width:800px)
{
    .footer-left, .footer-right
    {
        flex-basis: 100%;
        font-size: 13px;
    }
}
.selct_option{
    color: #009688;
}
/*code for contact footer*/